@import url('https://fonts.googleapis.com/css?family=Montserrat:500');
@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans:wght@700&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: "Montserrat", sans-serif;
}

header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; 
    z-index: 0;   
    margin: 0;
    position: fixed;
    top: 0;
    background-color: #191919;
    height: 8vh;
    width: 100%;
    box-shadow: 0 1px 30px #191919; 
}

a{
    font-weight: 500;
    font-size: 0.75rem;
    color: #ECE8E1;
    text-decoration: none;
    margin-right: 4%; 
}

#logo-ancora{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: 100%;
    width: 25vw;
    background-color: #FF4655;
}


#logo-navbar{
    display: flex;
    width: 15%;
}

.nav_links{
     width: 85%; 
    display: flex;
    justify-content: flex-end;
     margin-right: 15%; 
    list-style: none;
    margin: 0;
     padding: 20px; 
}

.nav_links a{
    display: flex;
    padding: 0px 5%;
    transition: all 0.3s ease 0s;
}

.nav_links a:hover{
    font-size: 0.85rem;
    color: #FF4655;
}

body{
    background-color: #ECE8E1; 
    display: flex;
    align-items: center;   
    flex-direction: column;  
}

#div-title{
    background-color: #FF4655;
    width: 100%;
    padding-bottom: 5%;

}

#title{
    width: 80%;
    display: flex;
    margin: 8% 10% 0 10%;
    font-family: 'Alumni Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 4.5rem;
    line-height: 78px;
    color: #ECE8E1;
}

.container{
    display: flex;
    flex-direction: column;
    width: 100%;
}


.box{
    display: flex;
    align-items: center;
    width: 100%;
    padding-top: 5%;
    padding-bottom: 5%;
}

.left-align {
    height: 100%;
    display: flex;
    justify-content: space-between;
    margin-left: 7.5%;
    padding: 0;
}

.right-align {
    height: 100%;
    display: flex;
    flex-direction: row-reverse ;
    justify-content: space-between;
    margin-right: 7.5%;
    padding: 0;
}

.coluna-1-left{
    display: flex;
    margin-left: 0%;
    justify-content: center;
    flex-direction: column;
    width: 40%;
}
.coluna-1-right{
    margin-right: 0%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    width: 40%;

}

.coluna-2-left{
    display: flex;
    flex-direction: column;
    width: 40%;
    align-items: flex-end;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.coluna-2-right{
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: flex-start;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.images{
    width: 100%;
    /* background-color: coral; */
}
.linha{
    width: 70%;
}

c:foreach{
    width: 100%;
    height: 100%;
}

p{
    width: 50%;
}

/* .conteudo h2{
    text-align: center;
    color: #ECE8E1;
}

.skins{ 
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: 4% 3% 3% 2%;
}

.conteudo{
    width: 20%;
    margin: 2% 2.5% 2% 2.5%; 
    display: flex;
    align-items: center;
    flex-direction: column;
}

.conteudo img{
    width: 70%;
    border-radius: 45px;
} */