@import url('https://fonts.googleapis.com/css?family=Montserrat:500');
@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans:wght@700&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: "Montserrat", sans-serif;
}

 body{
    font-family: "Montserrat", sans-serif;
    scroll-behavior: smooth;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #ECE8E1;
    width: 100%;
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 0;
    margin: 0;
    position: fixed;
    top: 0;
    background-color: #ECE8E1;
    height: 100%;
    width: 17.5vw;
    box-shadow: 0 1px 20px #191919;
}

#header-up{
    height: 20%;
    background-color: #FF4655;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 100%;
    margin: 0;
}

.logo-ancora{
    display: flex;
    align-items: center;
    width: 35%;
    height: 100%;
    margin: 0;
}


#logo-navbar{
    display: flex;
    justify-content: flex-end;
    width: 65%;
    margin-right: 10%;
}

#titulo-header{
    color: rgb(249, 249, 249);
    font-size: 0.9rem;
    display: flex;
    align-items: center;
    width: 65%;
    height: 100%;
    margin: 0 0 0 5%;
}

a{
    font-weight: 500;
    font-size: 0.90rem;
    color: #191919;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.nav_links{
    height: 65%;
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 5% 0 0 0;
}

.nav_links a{
    display: flex;
    padding: 20px 5%;
    transition: all 0.3s ease 0s;
    margin: 0 4% 0 7.5%;
}

.nav_links a:hover{
    font-size: 1.1rem;
    color: #FF4655;
}

.nav_link{
    display: flex;
    margin: 0;
    padding: 0;
}

.nav_link:hover{
    background-color: #d7d5d2;
}

.icon{
    display: flex;
    align-items: center;
    width: 12.5%;
    margin-right: 10%;
    opacity: 70%;
}

#header-down{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 15%;
}

#div-ancora-button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

#ancora-button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10% 35% 0 0;
    padding: 0;
    height: 40%;
    width: 40%;
}

.button{
    width: 100%;
    height: 100%;
    border: 1px solid #908f8f;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    padding: 0;
}

#button_logout:hover{
    background-color: #e3e3e3;
    cursor: pointer;
}

#dashboard{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    width: 82.5%;
    height: 100vh;
    color: rgb(78, 78, 78);
    margin-left: 17.5%;
}

h1{
    margin-bottom: 1.5%;
}

#table{
    height: 20%;
    width: 90%;
}

#form-delete{
    width: 100%;
}
tr{
    background-color: rgb(216, 216, 216);
}

.th{
    font-size: 0.6rem;
    white-space: nowrap; /* Impede a quebra de linha nos títulos */
    overflow: hidden; /* Esconde o conteúdo excedente */
    text-overflow: ellipsis; /* Adiciona reticências quando o texto é cortado */
    max-width: 0; /* Define a largura máxima dos títulos como zero */
    transition: max-width 0.3s ease-in; /* Adiciona uma transição suave para expandir e contrair os títulos */
    min-width: 50px;
}

.td{
    font-size: 0.5rem;
}

#div-ancora-novo{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-right: 10%;
}

.novo-ancora{
    margin-top: 1%;
    height: 100%;
    width: 10%;
}

#button_novo{
    color: #ECE8E1;
    background-color: rgb(37, 166, 52);
    height: 100%;
    width: 100%;
    margin:0;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

#button_novo:hover{
    background-color: rgb(26, 151, 41);
}


tr{
    font-size: 0.3rem;
}

th, td {
    padding: 0px; /* Define o espaçamento interno das células como 5 pixels */
  }