@import url('https://fonts.googleapis.com/css?family=Montserrat:500');
*{
    font-family: "Montserrat", sans-serif;
}

body{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #FF4655;
}

#main-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #191919;
    background-color: #ECE8E1;
    width: 35%;
    height: 75%;
    border-radius: 10px;
    box-shadow: 5px 5px 30px -10px #191919;
}

#item-title{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 25%;
    /* height: 20%; */
    /* border: 2px solid #228d14; */
    width: 100%;
    margin: 7.5% 0 0% 0 ;
}

.title{
    display: flex;
    margin: 0;
    padding: 0 0 2.5% 0;
}

#item-form{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60%;
    width: 75%;
    /* border: 2px solid #2475df; */
    flex-direction: column;
}

.item-form-data{
    display: flex;
    flex-direction: column;
    padding: 0% 0 5% 0;
    width: 100%;
    height: 25%;
}

label{
    /* margin-left: 2.5%; */
    margin: 0 0 1.5% 2.5%;
}

.input-text{   
    /* width: 100%; */
    border: 0.1px solid #ccc;
    border-radius: 15px;
    padding-left: 5%;
    transition: all 0.3s ease;
    height: 60%;
}

.input-text:focus{
    background:#eee9e9;
    border: 0.1px solid #FF4655;
    outline: none ;
}

#div-button-entrar{
    display: flex;
    justify-content: center;
    padding: 7% 0 2.5% 0;
    height: 20%;
    width: 100%;
}

#button-entrar{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #FF4655;
    color: #ECE8E1;
    /* border: 2.5px solid #ffffff; */
    border: none;
    border-radius: 30px;
}

#button-entrar:hover{
    cursor: pointer;
    background: #f54654;
}

.button{
    border: 1px solid #ccc;
    transition: all 0.3s ease;
}

.button:hover{
    cursor: pointer;
    background: #cacaca;
}


#item-cadastro{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 20%;
    /* border: 2px solid #ff28a6; */
    width: 75%;
    margin-bottom: 2.5%;
}

.button-cadastro{
    height: 100%;
    border-radius: 40px;
    width: 49%;
}

#ancora-cadastro{
    display:flex;
    justify-content: center;
    height: 60%;
    width: 100%;
}

a{
text-decoration:none;
}

/*Deixar de background image os logos da